$bright-red-85: rgba(191,48,63,0.85);
$bright-red-100: rgba(191,48,63,1);
$rare-blue-100: #2554a5;
$gray-75: rgba(18,18,18,0.75);
$gray-85: rgba(18,18,18,0.85);
$gray-100: rgba(18,18,18,1);
$white-90: rgba(255,255,255,0.9);
$white-100: rgba(255,255,255,1);

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  color: $gray-75;
  letter-spacing: 0.6px;
}

a {
  color: $gray-75;
}

/* Header */
header {
    color: $gray-100;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    margin-left: 20px;
    font-size: 24px;
    a {
      letter-spacing: 0.6px;
      text-decoration: none;
      &:hover {
        color: $gray-100
      }
    }
}

.menu {
    margin-right: 20px;
    ul {
      list-style: none;
      padding: 0;
      li {
          display: inline;
          margin-right: 20px;
          &:last-child {
              margin-right: 0;
          }
      }
    }
    a {
        text-decoration: none;
        color: $gray-85;
        transition: all 800ms ease;
        &:hover {
          color: $gray-100;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 2px;
        }
    }
  }

.menu-button {
  display: none;
}
/* End of header section */


/* Grid */

.grid-2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: auto auto;
  grid-auto-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "left-grid-2 right-grid-2";
  max-width: 1100px;
  margin: 0 auto;
}

.left-grid-2 {
  grid-area: left-grid-2;
  max-width: 500px;
}

.right-grid-2 {
  grid-area: right-grid-2;
  max-width: 500px;
}

.grid-3-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: auto auto auto;
  grid-auto-rows: auto auto auto;
  gap: 0px 0px 0px;
  grid-auto-flow: column dense;
  grid-template-areas:
    "left-ad center-comic right-ad";
  max-width: 1100px;
  margin: 0 auto;
}

/* End of grid */

/* Main page */

.center-comic {
  img {
    height: 880px;
    width: 880px;
  }
  a {
    color: $gray-85;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    transition: all 500ms ease;
    display: block;
    margin: 0 10px;
    text-align: right;
  }
}


.center-comic a:first-child {
  float: left;
}

.center-comic a:nth-child(2) {
  float: left;
}

.center-comic a:nth-child(3) {
  float: right;
}

.center-comic a:last-child {
  float: right;
}

.center-comic a:hover {
  color: $gray-100;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

.comic-links {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.buy-prints {
  position: relative;
  a.ad-link {
    background-color: $bright-red-85;
    color: $white-100;
    box-sizing: border-box;
    display: block;
    text-align: center;
    overflow: hidden;
    height: 120px;
    line-height: 120px;
    width: 840px;
    position: absolute;
    transform-origin: top left;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    transition: all 500ms ease;
    &:hover {
      background-color: $bright-red-100;
      color: $white-100;
    }
  }
}

.print-ad-link {
  bottom: -110px;
  top: 860px;
  transform: rotate(-90deg);
}

.tip-jar-link {
  bottom: -110px;
  top: 20px;
  left: 110px;
  transform: rotate(90deg);
}

/* End of main page */


/* Footer section */

footer {
  padding: 25px 0 45px 0;
  color: $gray-75;
  font-size: 0.95rem;
  a {
    text-decoration: none;
    &:hover {
      color: $gray-100;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  li {
    padding: 0.2rem 0;
    display: inline-block;
    margin: 0 7px;
  }
  .left-grid-2, footer .right-grid-2 {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
}
.menu-button {
  display: none;
}

/* End of footer section */


/* Comics page */

.banner {
  .left-grid-2, .right-grid-2 {
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  &.bright-red {
    background-color: $bright-red-100;
  }
  &.rare-blue {
    background-color: $rare-blue-100;
  }
  img {
    display: block;
    width: 400px;
    height: auto;
  }
  h2 {
    max-width: 400px;
    margin: 25px auto;
    color: $white-100;
    line-height: 1.3;
  }
  p {
    margin-bottom: 25px;
    max-width: 350px;
    padding: 0 25px;
    color: $white-100;
    line-height: 1.3;
  }
  a {
    color: $white-90;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    transition: all 500ms ease;
    &:last-child {
      margin-bottom: 25px;
    }
    &:hover {
      color: $white-100;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
    }
  }
  ul {
    list-style: none;
    padding: 0 15px 0 15px;
    margin-bottom: 25px;
    li {
      margin-bottom: 0.5rem;
      &:last-child {
        margin-bottom: 0rem;
      }
    }
  }
}

/* End of comics page */

/* Archive page */

.archive {
  text-align: center;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-bottom: 0.5rem;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      color: $gray-100;
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 1px;
    }
  }
}

/* End of archive page */

.hidden {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {

  /* Responsive menu */

  header {
    background-color: $gray-100;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    height: 70px!important;
    padding: 0;
    overflow: hidden;
    z-index: 10;
    background-color: $white-100;
  }

  input[type="checkbox"]:checked ~ #sidebarMenu {
      transform: translateX(0);
  }

  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 24px;
      right: 15px;
      height: 22px;
      width: 22px;
  }
  .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $gray-100;
  }
  .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 5px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
  }
  .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 5px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }

  .logo {
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .menu {
    margin: 0;
    height: 100%;
    position: fixed;
    right: -250px;
    width: 250px;
    margin-top: 70px;
    transition: transform 250ms ease-in-out;
    background: $white-100;
  }

  .menu.active {
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
  }

  .menu ul li {
      display: block;
      margin: 25px 0;
      text-align: center;
  }

  main {
    margin-top: 70px;
  }
  /* End of responsive menu */

  .grid-2-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      "left-grid-2"
      "right-grid-2";
    width: auto;
    margin: 0 auto;
    padding: 20px 0 30px 0;
  }

  .grid-3-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      "left-ad"
      "center-comic"
      "right-ad";
    width: auto;
    margin: 0 auto;
    padding: 20px 0 30px 0;
  }

  .center-comic img {
    width: 100%;
    height: auto;
    max-width: 880px;
    margin: 0 auto;
    display: block;
  }

  .right-ad {
    background-position: 0px -350px;
  }

  .buy-prints a.ad-link {
    height: 110px;
    line-height: 110px;
    width: 96%;
    max-width: 840px;
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    letter-spacing: 5px;
  }

  .print-ad-link {
    bottom: 0;
    top: 0;
    transform: rotate(0deg);
  }

  .right-ad {
    margin-top: 18px;
  }
  
  .tip-jar-link {
    bottom: 0;
    top: 0;
    left: 0;
    transform: rotate(0deg);
  }

  footer li {
    padding: 0.3rem 0;
    display: block;
  }

  footer ul:first-child {
    margin-top: 0;
  }

  footer {
    padding-bottom: 65px;
  }

}